input[type="date"]::-webkit-calendar-picker-indicator {
	background: transparent;
	color: transparent;
	cursor: pointer;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	width: auto;
	height: auto;
}
